body {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--black);
}

h1 {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: 500;
}

h2 {
  font-family: "ocr-a-std", monospace, sans-serif;
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-family: "ocr-a-std", monospace, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

h5,
a {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

h6 {
  font-family: "ocr-a-std", monospace, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

p {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 65ch;
}

.special_text {
  font-family: "Reenie Beanie", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

/* darkmode */
html.dark body {
  color: var(--white);
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5,
  a {
    font-size: 14px;
  }

  h6 {
    font-size: 20px;
  }

  .special_text {
    font-size: 16px;
  }
}
