body {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--black);
}

h1 {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-family: "ocr-a-std", monospace, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

h3 {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-family: "ocr-a-std", monospace, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

h5,
a {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
}

h6 {
  font-family: "ocr-a-std", monospace, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  max-width: 65ch;
}

.special_text {
  font-family: "Reenie Beanie", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

/* darkmode */
html.dark body {
  color: var(--white);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5,
  a {
    font-size: 0.875rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  .special_text {
    font-size: 1rem;
  }
}
